section.imagenes
    .titulo
        md-icon.icon photo
        h2 Imagenes
    md-card
        md-grid-list(md-cols="4" md-row-height="200px")
            md-grid-tile(md-colspan="2" md-rowspan="2")
                form(ng-submit="crearImagen(outputImage, proyecto)") 
                    .dropify-container(ng-init="Dropify()" ng-hide="outputImage")
                        input.dropify(type="file" data-default-file="Imagen del producto" ng-model="outputImage" base-sixty-four-input maxsize="5120" data-max-file-size="1000K" accept="image/*" style="padding:0px;")
                    .croppie-container(ng-if="outputImage")
                        ng-croppie(src="inputImage"
                            ng-model='outputImage'
                            update='onUpdate'
                            boundry="{w: 300, h: 300}"
                            viewport="{w: 150, h: 100}"
                            mousezoom="true" 
                            zoom="true" 
                            orientation="90"
                            type="square")
                    md-button(md-colors="{background: 'green'}" type="submit")
                        md-icon keyboard_tab
            md-grid-tile(md-colspan="1" md-rowspan="1" ng-repeat="imagen in imagenes" style="background-image:url({{imagen.imagen}})")
                md-grid-tile-footer(layout-align="center center")
                    md-button(ng-click="eliminarImagen($index, imagen.id)")
                        md-icon clear
                    md-button(ng-click="cambiarPortada(imagen.id)" md-colors="imagen.portada === 1 ? {background:'green'} : {background:'red'}")
                        md-icon photo
